body {
  background-color: #f8f9fa;
}

.bg-pagina{
  background-color: #003459;
}

.card-header{
  background-color: #003459;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #003459;
}

.btn-pagina {
  background-color: #003459 !important;
  color: #fff !important; }
  .btn-pagina:hover {
    background-color: #004576; }
    .btn-pagina:focus, .btn-pagina:active, .btn-pagina.active {
      background-color: #004576; }
      .btn-pagina.dropdown-toggle {
        background-color: #4285F4 !important; }
        .btn-pagina.dropdown-toggle:hover, .btn-pagina.dropdown-toggle:focus {
          background-color: #004576 !important; }
          .btn-pagina:not([disabled]):not(.disabled):active, .btn-pagina:not([disabled]):not(.disabled).active,
          .show > .btn-pagina.dropdown-toggle {
            background-color: #004576 !important; }


            .btn-outline-pagina {
              border: 2px solid #003459;
              color: #003459 !important;
              background-color: transparent; }
              .btn-outline-pagina:hover, .btn-outline-pagina:focus, .btn-outline-pagina:active, .btn-outline-pagina:active:focus, .btn-outline-pagina.active {
                background-color: transparent;
                color: #004576;
                border-color: #004576; }
                .btn-outline-pagina:not([disabled]):not(.disabled):active, .btn-outline-pagina:not([disabled]):not(.disabled).active,
                .show > .btn-outline-pagina.dropdown-toggle {
                  background-color: transparent !important;
                  border-color: #004576 !important; }



                  a {
                    color: #003459;
                    text-decoration: none;
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;
                  }

                  a:hover,
                  a:focus {
                    text-decoration: none;
                  }

                  .modal-dialog.modal-notify.modal-info .badge, .modal-dialog.modal-notify.modal-info .modal-header{
                    background-color: #003459;
                  }

                  .modal-dialog.modal-notify.modal-info .fa{
                    color: #003459;
                  }

                  .bq-pagina {
                    border-left: 3px solid #003459; }

                    .bq-pagina .bg-title {
                      color: #003459; }

                      .page-item .page-link{
                        color: #003459;
                      }

                      .badge-pagina{
                        background-color: #003459;
                      }

                      .nav-tabs{
                        background-color: #003459;
                        padding: 10px;
                        border-radius: 5px;
                      }

                      .nav-tabs .nav-link{
                        color: white;
                      }

                      .nav-tabs .nav-link.active{
                        border-color: transparent;
                        background-color: #325c7a;
                      }

                      .nav-tabs .nav-link:hover{
                        border-color: transparent;
                        background-color: #194869;
                      }

                      .page-item.active .page-link {
                        z-index: 2;
                        color: #fff;
                        background-color: #003459;
                        border-color: #003459;
                      }

                      .link {
                        transition: 0.2s ease;
                        color: white;
                      }
