/*Pagina Empresas.php*/
.list-sectores{
  overflow-y: scroll;
  height: 150px;
}

.card-logo img{
  height: 128px;
  width: 128px;
  object-fit: cover;
}

.card-logo{
  height: 128px;
  width: 128px;
}

.container{
	padding: 10px;
}

/*Pagina info.php*/

.img-cabecera {
    transition: .2s;
    height: 300px;
    object-fit: fill;
    align-self: center;
    margin: 10px;
}

.cabecera-info {
   margin-top: 10px;
   background-color: rgba(255,255,255,.9);
    transition: .2s;
}


.cabecera-info:hover {
    background-color: rgba(255,255,255,1);
    transition: .2s;
}

.bg-info{
  background-image: url("../img/empresas/bg-info2.jpg");
  background-position: center;
  background-size: cover;
}


