.fondo-cabecera{
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 370px;
}

.card-header{
  color: white;
}

.card-cabecera{
  height: 310px;
  background-color: rgba(255,255,255, .85);
  transition: .3s;
}

.card-cabecera:hover{
  background-color: rgba(255,255,255, 1);
  transition: .3s;
}

.div-foto img:hover{
  transition: .2s;
  filter: brightness(50%);
}

.div-foto input[type=file]{display: none;}

.div-foto{
  text-align: center !important;
  width: 100%;
}

.div-foto img{
  width: 160px;
  height: 160px;
  transition: .2s;
  border-radius:240px;
  object-fit : cover;
}

/*
 Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)
 */

 @media (min-width: 576px) { 

  .fondo-cabecera{
    height: 290px;
  }
  
  .card-cabecera{
    height: 220px;
  }

  .div-foto img{
    width: 170px;
    height: 170px;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .fondo-cabecera{
    height: 365px;
  }  

  .card-cabecera{
    height: 300px;
  }
  .div-foto img{
    width: 270px;
    height: 270px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .fondo-cabecera{
    height: 360px;
  }  
  
  .card-cabecera{
    height: 300px;
  }
  .div-foto img{
    width: 270px;
    height: 270px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) { 
  
  .fondo-cabecera{
    height: 365px;
  }  
  
  .card-cabecera{
    height: 300px;
  }
  .div-foto img{
    width: 270px;
    height: 270px;
  }
}